<div class="center container justify-content-center text-center">
    <h1 class="heading-1">Registration Form</h1>
<div class="center row mt-4">
      <div class="col-md-10 offset-md-1">
          <form action="">
              <div class="form-row">
                  <div class="col">
                      <input type="text" id="name" placeholder="Enter Full Name" class="form-control">
                  </div>
                  <div class="col">
                      <input type="text" id="Email" placeholder="Email" class="form-control *">
                  </div>
              </div>
              <div class="form-row py-3">
                  <div class="col">
                          <input type="text" id="subject" placeholder="CNIC Number" class="form-control">                                    
                  </div>
                  <div class="col">
                          <input type="text" id="subject" placeholder="Contact" class="form-control">                                    
                  </div>
              </div>
              <div class="form-row">
                  <div class="col">
                          
                          <select id="Packages" class="form-control">
                              <option>Econmomy Package</option>
                              <option>Platinium Package</option>
                              <option>Gold Package</option>
                          </select>
                  </div>
                  <div class="col">
                          <input type="text" id="subject" placeholder="Contact" class="form-control">
                  </div>
              </div>
              <div class="form-row py-3">
                      <div class="col">
                          <textarea name="" id="comment" cols="1" rows="5" placeholder="Description About Your Self" class="form-control *"></textarea>
                      </div>
                  </div>
              <div class="form-row py-3">
                  <div class="col">
                      <button class="form-control btn-submit btn-danger" type="submit" >Submit</button>
                  </div>
              </div>
              
          </form><hr>
      </div>
  </div>
</div>


<footer>
<!-- Footer -->
<div class="section-5 text-center">
  <h4 style="margin-top:5%;">“The journey is the destination.”</h4>
  <h4 class="my-2">If you need any Help</h4>

  <div class="form-inline justify-content-center">
      <input type="text" name="Email" id="Email" placeholder="Write a questions here?" size="36" class="form-control px-4 py-2">
      <a href="Contact US.html"><input type="button" value="Submit"  class="btn btn-danger px-4 py-2 ml-2"></a>
  </div>

  <div class="social" style="margin:5%;">
  <div class="d-flex flex-row justify-content-center">
      <i class="fab fa-facebook-f m-2"></i>
      <i class="fab fa-twitter m-2"></i>
      <i class="fab fa-instagram m-2"></i>
      <i class="fab fa-youtube m-2"></i>
  </div>
  </div>

  <hr>
  <h5 style="color:lightseagreen">HELLO Tourism &copy;</h5>
</div>
</footer>

<script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scrollreveal.min.js"></script>
<script src="js/swiper.min.js"></script>
<script src="main.js"></script>

<script>
window.sr =ScrollReveal({duration : 1000});
sr.reveal('.site-content .d-flex');
sr.reveal('.section-1 .card');
sr.reveal('.section-2 .d-flex');
sr.reveal('.section-5, col-md-4');


</script>